In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('taxi.csv')
df.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [5]:
x_data = df.iloc[:, 0 : -1]
x_data

    Priceperweek  Population  Monthlyincome  Averageparkingpermonth
0             15     1800000           5800                      50
1             15     1790000           6200                      50
2             15     1780000           6400                      60
3             25     1778000           6500                      60
4             25     1750000           6550                      60
5             25     1740000           6580                      70
6             25     1725000           8200                      75
7             30     1725000           8600                      75
8             30     1720000           8800                      75
9             30     1705000           9200                      80
10            30     1710000           9630                      80
11            40     1700000          10570                      80
12            40     1695000          11330                      85
13            40     1695000          11600                     100
14            40     1690000          11800                     105
15            40     1630000          11830                     105
16            65     1640000          12650                     105
17           102     1635000          13000                     110
18            75     1630000          13224                     125
19            75     1620000          13766                     130
20            75     1615000          14010                     150
21            80     1605000          14468                     155
22            86     1590000          15000                     165
23            98     1595000          15200                     175
24            87     1590000          15600                     175
25            77     1600000          16000                     190
26            63     1610000          16200                     200

In [7]:
y_data = df.iloc[:, -1]
y_data

0     192000
1     190400
2     191200
3     177600
4     176800
5     178400
6     180800
7     175200
8     174400
9     173920
10    172800
11    163200
12    161600
13    161600
14    160800
15    159200
16    148800
17    115696
18    147200
19    150400
20    152000
21    136000
22    126240
23    123888
24    126080
25    151680
26    152800
Name: Numberofweeklyriders, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.3, random_state=0)

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
model = LinearRegression()

In [13]:
model.fit(X_train, y_train)

LinearRegression()

In [14]:
model.score(X_train, y_train)

0.9428364724316814

In [15]:
model.score(X_test, y_test)

0.9157379222488222

In [16]:
import pickle

In [17]:
pickle.dump(model, open('model.pkl', 'wb'))

In [19]:
# Model Test
model.predict([[15, 1800000, 5800, 50]])

array([190038.04651918])